.shopping-list-filter {
    transition: all .2s ease-in-out;
    padding: .375rem 1.75rem .375rem 2.5rem;
    cursor: pointer;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid #1E1E1B;
    margin: 0.5rem auto;
    font-weight: bold;
    width: 60%;
}

.shopping-list-filter:hover {
    box-shadow: inset 0 0 0 2px #1e1e1b;
}

.shopping-list-filter-active {
    background-color: #1e1e1b;
    color: #FAFAFA;
}

@media (max-width: 992px) {
    .shopping-list-filter {
        width: 100%;
    }
}
