.apt-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: url("../../images/footer.svg") top center no-repeat;
    background-size: auto;
    height: 10rem;
    padding-top: 2rem;
}

.apt-footer-logo {
    width: 4rem;
}