.add-recipe-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.add-recipe-step-2-container {
    width: 75%;
    margin: auto;
}

.add-recipe-added-item {
    background-color: #FAFAFA;
    padding: 0 1.5rem;
    display: flex;
}

.add-recipe-step-3-container {
    width: 75%;
    margin: auto;
}

.add-recipe-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
}

.add-recipe-tags{
    display: flex;
    overflow-x: scroll;
    padding-bottom: 4px;
}

.add-recipe-ingredients-container {
    border-radius: 5px;
    padding: .5rem 0;
    background-color: #FAFAFA;
}

.add-recipe-ingredients-head {
    display: flex;
    margin: 0 1.5rem;
}

.add-recipe-validation {
    width: 50%;
    margin: 1rem 0 1rem auto;
    text-align: center;
}

.popup-add-recipe {
    text-align: center;
    width: 40vw;
    padding: 0 20%;
}

.popup-recipe-image {
    width: 350px;
    margin: 1rem auto;
    border-radius: 5px;
}


@media (max-width: 992px) {
    .add-recipe-title {
        font-size: 1.5rem;
    }

    .add-recipe-step-2-container {
        width: 100%;
    }

    .add-recipe-ingredients-container {
        background-color: #FAFAFA;
        padding: 1rem 0;
    }

    .add-recipe-step-3-container {
        width: 100%;
        padding-bottom: 1rem;
    }

    .add-recipe-validation {
        width: 100%;
    }

    .add-recipe-added-item {
        padding: 0 .5rem;
    }

    .popup-add-recipe {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .popup-recipe-image {
        width: 90%;
        max-width: 400px;
        margin: 1rem auto;
        border-radius: 5px;
    }
}