.recipe-card-container {
    flex: 0 0 25%;
    max-width: 25%;
}

.recipe-card {
    margin-bottom: 2rem;
    background: #FAFAFA;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    height: 380px;
}

.recipe-card-header {
    position: relative;
}

.recipe-card-picture {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 200px;
    object-fit: cover;
}

.recipe-card-picture-gradient {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 110px;
}

.recipe-card-body {
    flex: 1;
    padding: .5rem;
}

.recipe-card-title {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-card-description {
    font-size: 12px;
    line-height: 15px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    margin-bottom: .5rem;
}

@media (max-width: 992px) {
    .recipe-card {
        height: auto;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    .recipe-card-picture {
        height: 140px;
        border-radius: 5px 5px 0 0;
    }

    .recipe-card-picture-gradient {
        height: 70px;
    }

    .recipe-card-title {
        font-size: 16px;
    }
}
