.apt-select-group {
    position: relative;
    margin-top: 1rem;
    transition: all .2s ease-in-out;
}

.apt-select-label {
    margin-bottom: .5rem;
    display: flex;
}

.apt-select-group-alert{
    font-size: .8rem;
    color: #cd0c23;
    line-height: 24px;
    margin-left: .5rem;
}