.apt-notification-toast {
    width: 300px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.apt-notification-check {
    width: 1.25rem;
    margin-right: .5rem;
}

@media (max-width: 992px) {
    .apt-notification-toast {
        width: 100%;
        max-width: none;
        margin-bottom: .25rem;
    }
}
