.btn-apt {
    display: inline-block;
    font-weight: 400;
    color: #1E1E1B;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 19px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.btn-apt-primary {
    font-weight: bold;
    background-color: #F6C11B;
    font-size: 16px;
    padding: .375rem 1rem .375rem 2rem;
    text-transform: uppercase;
}

.btn-apt-primary:hover {
    padding-left: 2.5rem;
}

.btn-apt-primary:hover .btn-apt-icon-right {
    margin-left: 1rem;
}

.btn-apt-secondary {
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.25);
    border: 1px solid #1E1E1B;
    font-size: 16px;
    padding: .375rem 1rem .375rem 2rem;
}

.btn-apt-secondary:hover {
    padding-left: 2.5rem;
}

.btn-apt-secondary:hover .btn-apt-icon-right {
    margin-left: 1rem;
}

.btn-apt-translucid {
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.75);
    font-size: 16px;
    box-shadow: 0 0 12px rgba(250, 250, 250, 0.5);
    padding: .375rem 1rem .375rem 2rem;
}

.btn-apt-translucid:hover {
    padding-left: 2.5rem;
}

.btn-apt-translucid:hover .btn-apt-icon-right {
    margin-left: 1rem;
}

.btn-apt-tertiary {
    color: #555555;
}

.btn-apt-tertiary:hover {
    text-decoration: underline;
}

.btn-apt-black {
    background-color: #1e1e1b;
    color: #FAFAFA;
    border: 1px solid #1E1E1B;
    font-size: 16px;
    padding: .375rem 1rem .375rem 2rem;
}

.btn-apt-black:hover {
    padding-left: 2.5rem;
}

.btn-apt-black:hover .btn-apt-icon-right {
    margin-left: 1rem;
}

.btn-apt-black .btn-apt-icon-right {
    filter: invert(97%) sepia(8%) saturate(110%) hue-rotate(258deg) brightness(115%) contrast(96%);
}

.btn-with-icon-left{
    padding: .375rem 2rem .375rem 1rem;
}

.btn-with-icon-left:hover{
    padding-left: 1rem;
    padding-right: 2.5rem;
}

.btn-apt-icon-left{
    margin-right: .5rem;
    height: 24px;
    margin-top: -3px;
    transition: all .2s ease-in-out;
}

.btn-with-icon-left:hover .btn-apt-icon-left {
    margin-right: 1rem;
}

.btn-apt-icon-right {
    margin-left: .5rem;
    height: 24px;
    margin-top: -3px;
    transition: all .2s ease-in-out;
}

.react-ripples{
    width: 100%;
}