.recipe-homepage-filters {
    position: fixed;
    display: flex;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 55%);
}

.filter {
    margin-left: .75rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filter:hover {
    transform: scale(1.05);
}

.filters-container {
    display: flex;
    margin: .75rem 0;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: .25rem;
}

.recipe-display-switch {
    margin: .5rem 0 .5rem .75rem;
}

.recipes-container {
    height: 750px;
    position: relative;
    overflow-y: scroll;
}

@media (max-width: 992px) {
    .recipes-container {
        height: auto;
    }

    .filters-container {
        padding: 0;
        margin: 70px 0 .5rem 0;
    }
}