.detailled-menu-card-container {
    display: flex;
    margin-bottom: 1rem;
}

.detailled-menu-card-span {
    height: 180px;
    border-radius: 15px 0 0 15px;
    width: 15px;
    background-color: #1E1E1B;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.detailled-menu-card {
    background-color: #FAFAFA;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    height: 180px;
    width: 100%;
}

.detailled-menu-card-picture {
    width: 164px;
    height: 164px;
    border-radius: 5px;
}

.detailled-menu-card-content {
    flex: 1;
    padding: .5rem 1.5rem .5rem .5rem;
}

.detailled-menu-card-description {
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    margin-bottom: .5rem;
}

@media (max-width: 992px) {
    .detailled-menu-card-container {
        flex-direction: column;
    }
}
