.detailled-menu-card-mobile-container {
    display: flex;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.detailled-menu-card-mobile-span {
    height: 300px;
    border-radius: 10px 0 0 10px;
    width: 10px;
    background-color: #1E1E1B;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.detailled-menu-card-mobile {
    background-color: #FAFAFA;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    height: 300px;
    width: 280px;
}

.detailled-menu-card-mobile-picture {
    width: 100%;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.detailled-menu-card-mobile-picture-gradient {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4990371148459384) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100px;
}

.detailled-menu-card-mobile-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailled-menu-card-mobile-description {
    margin-bottom: .25rem;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
