.image-picker-input {
    display: flex;
    align-items: center;
    margin-top: 36px;
}

.crop-container {
    position: relative;
    width: 100%;
    height: 400px;
}

.crop-control {
    padding: 1rem;
    display: flex;
}

.custom-file-label {
    border-color: rgba(30, 30, 27, 0.1);
    color: #1e1e1b;
    background-color: #FAFAFA;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.custom-file-label::after {
    color: #1e1e1b;
    background-color: rgba(30, 30, 27, 0.1);
    font-weight: bold;
}

.MuiSlider-root {
    color: #1e1e1b !important;
}

.delete-crop-image {
    cursor: pointer;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    margin-top: -12px;
    margin-left: 1.5rem;
}

.delete-crop-image:hover {
    background-color: #d6d6d6;
}