.apt-check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    transition: all .2s ease-in-out;
}

.apt-check-container:hover {
    text-shadow: 0 0 6px rgba(30, 30, 27, 0.16);
}

.apt-check-label {
    cursor: pointer;
}

.apt-check-container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.apt-checkmark {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

@media (max-width: 500px) {
    .apt-check {
        width: 24px;
        height: 24px;
    }
}
