body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Reikna';
    src: local('Reikna'), url(./fonts/Reikna.ttf) format('truetype');
}

#root {
    position: relative;
}

.container {
    max-width: 1300px;
}

.apt-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    padding: 1rem 2rem;
}

.apt-container-light {
    background-color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    padding: 10px 20px;
    margin: .5rem 0;
}

.apt-container-light-title {
    font-weight: bold;
    font-size: 18px;
}

.apt-container-title {
    font-weight: bold;
}

.apt-scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.apt-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 7px;
}

.apt-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #1B1B1E;
}

.w-fit-content {
    width: fit-content;
}

.alert-icon {
    margin-right: .5rem;
    height: 20px;
}

.apt-page {
    background-color: #FAFAFA;
    height: 100%;
    padding-top: 56px;
    min-height: 100vh;
    padding-bottom: 10rem;
}

.page-title {
    font-size: 7rem;
    color: #fafafa;
    font-family: Reikna, serif;
    margin: 0;
    padding-top: 4rem;
}

.page-subline {
    width: 50%;
    border-top: 1px solid #ffffff;
    margin: 0 auto;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.guest-number {
    flex: 2;
    line-height: 1.4;
    margin-left: auto;
}

.guest-number-label {
    margin-top: .25rem;
}

.guest-number-picker-placeholder {
    flex: 2;
}

.btn-added-to-navbar{
    position: fixed;
    bottom: 80px;
    left: 0;
    z-index: 2002;
    padding: 0 1.5rem;
    width: 100%;
}

.apt-notification-container {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    z-index: 1001;
}

.cursor-pointer{
    cursor: pointer;
}

/* Required styles */
.swipe-to-delete {
    position: relative !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.swipe-to-delete .js-delete {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 1 !important;
}

.swipe-to-delete .js-content {
    position: relative !important;
    z-index: 2 !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.swipe-to-delete .js-content :first-child {
    position: relative !important;
}

.swipe-to-delete .js-transition-delete-right, .swipe-to-delete .js-transition-delete-left, .swipe-to-delete .js-transition-cancel {
    transition-property: left !important;
    transition-duration: .5s;
}

.swipe-to-delete .js-transition-delete-right {
    left: 100% !important;
}

.swipe-to-delete .js-transition-delete-left {
    left: -100% !important;
}

.swipe-to-delete .js-transition-cancel {
    left: 0 !important;
}

/* Custom styles */
.swipe-to-delete .js-delete {
    background: #ff5f58;
}

.swipe-to-delete .js-delete svg {
    position: absolute;
    left: 17px;
    top: 50%;
    margin-top: -13px;
    width: 25px;
    height: 25px;
}

.swipe-to-delete .js-delete svg:first-child {
    left: auto;
    right: 17px;
}

.swipe-to-delete .js-content :first-child {
    cursor: pointer;
}

.swipe-to-delete .js-transition-delete-right, .swipe-to-delete .js-transition-delete-left, .swipe-to-delete .js-transition-cancel {
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}
/*# sourceMappingURL=swipe-to-delete.css.map*/

@media (max-width: 1600px) {
    .page-title {
        padding-top: 2rem;
    }
}

@media (max-width: 1440px) {
    .page-title {
        padding-top: 1rem;
        font-size: 6rem;
    }

    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .apt-page {
        padding-top: 0;
        padding-bottom: 126px;
    }

    .page-title {
        padding-top: 4rem;
        font-size: 5rem;
    }

    .apt-scroll-hidden::-webkit-scrollbar {
        display: none;
    }

    .page-subline {
        width: 75%;
    }

    .apt-container {
        padding: 1rem .75rem;
    }

    .apt-container-light {
        padding: 1rem .75rem;
    }

    .apt-container-title {
        font-size: 18px;
    }

    .guest-number {
        font-size: 14px;
    }

    .guest-number-label {
        margin-top: 6px;
    }

    .apt-notification-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: .5rem;
    }
}

@media (max-width: 500px) {
    .page-title {
        padding-top: 4rem;
        font-size: 5rem;
    }

    .page-subline {
        width: 90%;
    }
}