.add-shopping-list-item-web {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    height: calc(100% - 158px);
}

.mobile-shopping-page-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    height: 80px;
    margin: 0;
}

.shopping-list-container {
    height: 350px;
    background-color: #ffffff;
    overflow-y: scroll;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    padding: .75rem 1.25rem;
    position: relative;
}

.shopping-list-container-bg {
    height: 32px;
    z-index: 1000;
}

@media (max-width: 992px) {
    .shopping-list-container {
        height: calc(100vh - 400px);
    }
}