.login-page-background {
    text-align: center;
    background: url("../../images/login-page-background.png") top center no-repeat;
    background-size: auto;
    height: 336px;
}

.login-page-subtitle {
    color: #fafafa;
    font-family: Reikna, serif;
    font-size: 4rem;
    margin-top: 1rem;
}

.login-form {
    width: 30%;
    text-align: left;
    margin: 4rem auto;
}

.form-title {
    color: #DBAC18;
}

.login-form-alert {
    text-align: center;
    color: #e71d36;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

@media (max-width: 1600px) {
    .login-page-background {
        background-position: bottom center;
        height: 40vh;
    }

    .login-form {
        margin-top: 3rem;
    }
}

@media (max-width: 1440px) {
    .login-page-background {
        background-position: bottom center;
        height: 37vh;
    }

    .login-page-subtitle {
        font-size: 3.5rem;
    }

    .login-form {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .login-page-background {
        height: 30vh;
    }

    .login-page-subtitle {
        font-size: 3.5rem;
    }

    .login-form {
        width: 75%;
        margin-top: 6rem;
    }
}

@media (max-width: 500px) {
    .login-page-background {
        background: url("../../images/login-page-background-mobile.svg") bottom center no-repeat;
        background-size: cover;
        height: 35vh;
    }

    .login-page-subtitle {
        font-size: 3.5rem;
    }

    .login-form {
        width: 100%;
        padding: 0 15px;
    }
}
