.menu-day-card-recipe {
    background: #FAFAFA;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    padding: 12px;
    border-radius: 0 5px 5px 0;
    width: calc(100% - 10px);
}

.menu-day-card-recipe-span {
    border-radius: 5px 0 0 5px;
    width: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.menu-day-card-recipe-title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span-MIDI {
    background-color: #28AFB0;
}

.span-SOIR {
    background-color: #AF2F57;
}

.menu-day-card-recipe-edit {
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
}

.menu-day-card-recipe-people-number {
    font-size: 12px;
    margin: 0;
}

.menu-day-card-recipe-moment {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: auto;
    margin-bottom: 0;
}

.popup-edit-menu {
    padding: 0 1rem;
    text-align: left;
}