.full-page-loader {
    position: absolute;
    z-index: 1500;
    top: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh - 56px);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .full-page-loader {
        height: calc(100vh);
        top: -56px;
    }
}
