.homepage-list-container {
    height: 280px;
    background-color: #FAFAFA;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 1.25rem 1.25rem .75rem 1.25rem;
}

@media (max-width: 992px) {
    .homepage-recipes-container{
        width: calc(100% + 12px);
        height: 312px;
        display: flex;
        overflow-x: scroll;
    }

    .homepage-recipes-container-gradient{
        position: absolute;
        height: 300px;
        right: 3px;
        top: 28px;
        width: 10%;
        background: rgb(0,0,0);
        background: linear-gradient(270deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    }
}