.navbar-appetit-link {
    flex: 1;
    color: rgba(242, 242, 242, 0.8);
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: .375rem 1.25rem;
}

.navbar-appetit-link:hover {
    color: #f2f2f2;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.apt-active {
    color: #F6C11B;
    /*text-shadow: 0 0 6px #F6C11B;*/
    font-weight: bold;
}

.apt-active:hover {
    color: #F6C11B;
    text-shadow: 0 0 6px rgba(246, 193, 27, 0.5);
}

.navbar-link-btn {
    background-color: #F6C11B;
    color: #1E1E1B;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(246, 193, 27, 0.5);
    border-radius: 19px;
}

.navbar-link-btn:hover {
    color: #1E1E1B;
    transform: scale(1.025);
}

.apt-active-subline {
    margin: 0 auto;
    border-bottom: 1px solid #F6C11B;
    box-shadow: 0 0 6px rgba(246, 193, 27, 0.5);
    width: 75%;
}