.list-element-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
}

.list-element-checkmark {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}

.list-element {
    margin-bottom: .5rem;
    transition: all .2s ease-in-out;
    cursor: default;
}

.list-element-container:hover .list-element {
    padding-left: .5rem;
    font-weight: bold;
}

@media (max-width: 500px) {
    .apt-check {
        width: 24px;
        height: 24px;
    }
}
