.apt-select-item {
    padding: .375rem 2rem;
    border-radius: 19px;
    border: 1px solid #1e1e1b;
    cursor: pointer;
    margin-right: 1rem;
    transition: all .2s ease-in-out;
}

.apt-select-item:hover {
    box-shadow: inset 0 0 0 2px #1e1e1b;
}

.apt-select-item-selected {
    color: #FAFAFA;
    background-color: #1e1e1b;
}
