.tag-filter {
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    padding: .375rem 1.75rem;
    cursor: pointer;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid #1E1E1B;
    margin: 0 0.5rem;
    font-weight: bold;
}

.tag-filter:hover {
    box-shadow: inset 0 0 0 2px #1e1e1b;
}

.tag-filter-active {
    background-color: #d9d9d9;
}

.tag-filter-disabled{
    cursor: default;
    background-color: transparent;
    box-shadow: none;
}

.tag-filter-disabled:hover{
    background-color: transparent;
}

@media (max-width: 992px) {
    .tag-filter {
        margin: 0 0.5rem 0 0;
    }
}
