.guest-number-picker {
    display: flex;
    flex: 2;
    height: fit-content;
    margin-bottom: 2px;
}

.guest-number-picker-button {
    background-color: #F6C11B;
    border: 1px solid #1e1e1b;
    line-height: 1.5;
    width: 2.5rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    height: 28px;
    z-index: 10;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.guest-less {
    border-radius: 19px 0 0 19px;
    padding-left: 6px;
    padding-bottom: 5px;
}

.guest-plus {
    border-radius: 0 19px 19px 0;
}

@media (max-width: 992px) {
    .guest-number-picker {
        position: absolute;
        top: 0;
        right: 0;
    }

    .guest-less {
        margin-left: auto;
    }
}