.apt-input-group {
    position: relative;
    margin: 2rem 0;
}

.apt-input-group .apt-input-label {
    position: absolute;
    top: -13px;
    left: 15px;
    padding: 2px 1rem;
    z-index: 1;
}

.apt-input-group .apt-input-label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 11px;
    z-index: -1;
}

.apt-input-label-transparent:after {
    background-color: #c1c1c1 !important;
}

.apt-input-label {
    font-size: 14px;
    display: inline-block;
    margin-bottom: .5rem;
    font-family: Montserrat, sans-serif;
}

.apt-input {
    box-shadow: none!important;
    font-family: Montserrat, sans-serif;
    height: 3rem;
}

.apt-input:focus {
    color: #1E1E1B;
    outline: 0;
    border-color: #DBAC18;
}

.not-empty {
    border-color: #1E1E1B;
}

.input-password {
    position: absolute;
    top: 14px;
    right: 1rem;
    color: #1E1E1B;
    cursor: pointer;
    width: 20px;
    z-index: 2;
}

.apt-input-alert{
    font-size: .8rem;
    margin-top: .5rem;
    color: #cd0c23;
}