.category-filter {
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    padding: .375rem 1.75rem;
    cursor: pointer;
    color: #f2f2f2;
    border-radius: 19px;
    background-color: #61615F;
    border: 1px solid #1E1E1B;
    margin: 0 0.5rem;
}

.category-filter:hover {
    background-color: #1E1E1B;
}

.category-filter-active {
    background-color: #1E1E1B;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.category-filter-disabled {
    cursor: default;
}

@media (max-width: 992px) {
    .category-filter {
        margin: 0 0.5rem 0 0;
    }
}
