.ingredients-header {
    display: flex;
    position: relative;
}

.ingredients-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 4px;
    flex: 3;
}

.ingredients-dropdown-buttons {
    position: absolute;
    top: -2px;
    right: -10px;
    cursor: pointer;
    width: 2rem;
    transition: all .2s ease-in-out;
}

.dropdown-active {
    transform: rotate(180deg);
}

@media (max-width: 992px) {
    .ingredients-title {
        flex: 3;
    }
}