.ingredients-list-item {
    display: flex;
    margin-left: 2rem;
    width: 82%;
    margin-bottom: 2px;
}

.ingredient-list-label {
    flex: 1;
}

.ingredient-list-quantiy {
    flex: 1;
    text-align: right;
}

@media (max-width: 992px) {
    .ingredients-list-item {
        margin: 0 2rem;
        width: auto;
    }
}