.add-recipe-step-index-container {
    margin: auto;
    width: 75%;
    display: flex;
}

.add-recipe-step-index {
    height: 4rem;
    width: 4rem;
    border: 2px solid #1e1e1b;
    border-radius: 100%;
    align-items: center;
    display: flex;
    background: transparent;
}

.add-recipe-step-index-active {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    align-items: center;
    display: flex;
    background: transparent;
    font-weight: bold;
    border: 3px solid #F6C11B;
    box-shadow: 0 0 6px rgba(246, 193, 27, 0.5), inset 0 0 6px rgba(246, 193, 27, 0.5);
}

.add-recipe-step-index-done {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    align-items: center;
    display: flex;
    background: transparent;
    border: 2px solid #F6C11B;
}

.add-recipe-step-index-separator {
    height: 0;
    flex: 1;
    margin-top: 2rem;
    border-top: 2px solid #1e1e1b;
}

.add-recipe-step-index-separator-done {
    height: 0;
    flex: 1;
    margin-top: 2rem;
    border-top: 2px solid #F6C11B;
}

@media (max-width: 992px) {
    .add-recipe-step-index-container {
        width: 95%;
    }
}