.popup-open {
    overflow: hidden !important;
}

.popup-mask {
    z-index: 2010;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
}

.popup-container {
    margin: auto;
    transform: translateY(-2rem);
    background-color: #ffffff;
    border-radius: 15px;
    position: relative;
    animation: popupAnimation 0.2s;
    min-width: fit-content;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 16px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-close-btn {
    position: absolute;
    right: 1.4rem;
    left: auto;
    top: 1rem;
    cursor: pointer;
}

.popup-content {
    margin-top: 1.5rem;
    padding: 1rem 1.4rem;
}

/*MOBILE*/
.popup-container-mobile {
    margin: auto;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: fit-content;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-bottom: 5rem;
}

.popup-mobile-handler {
    padding: 1rem;
}

.popup-mobile-close-btn {
    width: 4rem;
    height: 4px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
}