.recipe-icons-container {
    display: flex;
    padding: .25rem 0;
}

.recipe-page-icons {
    font-size: 18px;
}

.recipe-icon {
    flex: 1;
    text-align: center;
}

.light-text {
    color: #555555;
    font-weight: lighter;
}

@media (max-width: 992px) {
    .recipe-icon-small{
        font-size: 14px;
    }
}