.add-recipe-step-item {
    display: flex;
    width: 100%;
    padding: 1rem 1.5rem 0 1.5rem;
    background-color: #FAFAFA;
}

.add-ingredients-textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1e1e1b;
    background-color: #FAFAFA;
    padding: .5rem;
}

.add-ingredients-textarea:focus {
    outline: none;
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.16);
}

@media (max-width: 992px) {
    .add-recipe-step-item {
        padding: 1rem .5rem 0 .5rem;
    }
    .add-ingredients-textarea {
        padding-left: 1rem;
    }
}