.add-ingredients-input-container {
    display: flex;
    padding: 0 1rem;
}

.add-ingredients-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1e1e1b;
    background-color: transparent;
}

.add-ingredients-input:focus {
    outline: none;
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.16);
}

.add-ingredients-input-empty-alert {
    border-radius: 3px;
    border-bottom: 3px solid #e71d36;
}