.menu-day-card {
    background: #ffffff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    position: relative;
    padding: 12px 4px 12px 8px;
    border-radius: 5px;
    margin: 1rem 0;
}

.menu-day-card-active {
    border: 2px solid #F6C11B;
}

.menu-day-card-label-active {
    position: absolute;
    top: -8px;
    left: 6px;
}

.menu-day-card-title {
    text-transform: uppercase;
}

.menu-day-card-subtitle {
    font-size: 14px;
}

.menu-day-card-reset-button {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.menu-day-card-body {
    height: 160px;
    width: 100%;
    overflow-y: scroll;
}

.menu-day-card-body {
    height: 160px;
    width: 100%;
    overflow-y: scroll;
    padding-top: 6px;
}

.menu-day-card-add-button-container {
    text-align: center;
    margin: .5rem;
}

.menu-day-card-add-button {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.menu-day-card-add-button:hover {
    transform: scale(1.05);
}

@media (max-width: 992px) {
    .menu-day-card-title {
        font-size: 18px;
        margin-bottom: 2px;
    }

    .menu-day-card-subtitle {
        font-size: 12px;
    }

    .menu-day-card-reset-button {
        top: 8px;
        right: 4px;
    }
}