.search-bar{
    background: #FAFAFA;
    border-radius: 30px;
    border: 1px solid #333333;
    margin-left: auto;
    padding: .375rem 1.25rem;
    max-width: 350px;
}

.search-bar-icon{
    margin-right: .5rem;
}

.search-bar-input{
    border: none;
    background: transparent;
    width: 85%;
}

.search-bar-input:focus{
    outline: none;
}

@media (max-width: 992px) {
    .search-bar{
        margin-left: 0;
    }
}
