.picture-band {
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    min-height: 170px;
}

.picture-band-content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35)
}

@media (max-width: 992px) {
    .picture-band {
        background-size: cover;
    }
}
