.recipe-step-item {
    display: flex;
    width: 100%;
}

.recipe-step-item-index-container {
    flex: 1;
    position: relative;
    min-height: 6rem;
}

.recipe-step-item-index {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: 2px solid #1e1e1b;
    border-radius: 100%;
    align-items: center;
    display: flex;
    background: #FAFAFA;
}

.recipe-step-item-index-line {
    width: 1px;
    height: 100%;
    margin-left: 2rem;
    border-left: 1px solid #1e1e1b;
    border-right: 1px solid #1e1e1b;
    background-color: #1e1e1b;
    padding-bottom: .5rem;
}

.recipe-step-item-index-active {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: 3px solid #F6C11B;
    box-shadow: 0 0 6px rgba(246, 193, 27, 0.5), inset 0 0 6px rgba(246, 193, 27, 0.5);
    border-radius: 100%;
    align-items: center;
    display: flex;
    font-weight: bold;
    background: #FAFAFA;
}

.recipe-step-item-index-line-active {
    width: 1px;
    height: 100%;
    margin-left: 2rem;
    border-left: 2px solid #F6C11B;
    border-right: 1px solid #F6C11B;
    background-color: #F6C11B;
}

.recipe-step-item-label {
    flex: 4;
    margin-bottom: 2rem;
    margin-top: 6px;
}