.recipe-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.recipe-menu {
    position: absolute;
    top: .5rem;
    right: 1rem;
    z-index: 1;
    transition: all .2s ease-in-out;
}

.recipe-menu-icon {
    height: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.icon-animate {
    transform: rotate(180deg);
}

.recipe-dropdown-triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1E1E1B;
    position: absolute;
    top: calc(2rem - 5px);
    right: 10px;
}

.recipe-dropdown-menu {
    position: absolute;
    top: 2rem;
    right: 0;
    padding: .5rem 1rem;
    text-align: center;
    background: #1E1E1B;
    color: #f2f2f2;
    width: 150px;
    border-radius: 5px 0 5px 5px;
}

.recipe-dropdown-item {
    cursor: pointer;
}

.recipe-dropdown-item:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.recipe-dropdown-menu-separator {
    margin: .25rem 0;
    border: 1px solid #F6C11B;
}

.recipe-image {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.recipe-filters {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 2px;
    margin-top: .25rem;
}

.popup-add-recipe-to-menu{
    text-align: center;
    width: 40vw;
    padding: 0 10%;
}

.popup-add-recipe-to-menu-days {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 4px;
}

@media (max-width: 992px) {
    .recipe-title {
        margin-top: 1rem;
        font-size: 22px;
    }

    .recipe-menu {
        top: -38px;
        right: 0;
    }

    .recipe-filters {
        margin: .75rem 0;
    }

    .popup-add-recipe-to-menu{
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .popup-add-recipe-to-menu-days{
        width: calc(100vw - 32px);
    }
}
