.navbar-appetit {
    background-color: #1E1E1B;
}

.mobile-navbar-background {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background: rgb(250, 250, 250);
    background: linear-gradient(0deg, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0) 100%);
    padding: 0 12px;
    z-index: 2000;
}

.mobile-navbar-appetit {
    position: fixed;
    bottom: 12px;
    background-color: #1E1E1B;
    box-shadow: 0 0 6px rgba(30, 30, 27, 0.16);
    border-radius: 28px;
    height: 56px;
    z-index: 2001;
    width: calc(100% - 24px);
}

.mobile-navbar-appetit-container {
    display: flex;
    padding: 0 1rem;
    height: 54px;
    align-items: center;
}